.welcome-page {
    display: flex;
    font-family: 'rubik';
    background: #F9FAFE;
    .welcome-headings {
        width: 50%;
        justify-content: center;
        flex-direction: column;
        font-size: 25px;
        padding-top: 5rem;
        .main-heading {
            margin-left: 10rem;
            font-family: 1rem;
        }
        .welcome-paragraph {
            justify-content: center;
            margin-left: 5rem;
            font-size: 1.5rem;
        }
        .welcome-icons {
            display: flex;
            text-align: center;
            font-size: 1rem;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #1A2424;
        }
        .submit {
            text-align: center;
            padding-top: 1.5rem;
            .button1 {
                color: white;
                background-color: #025652;
                padding: 10px;
                text-align: center;
                font-size: 0.625rem;
                text-transform: uppercase;
                width: 120px;
                border-radius: 4rem;
            }
            .button2 {
                border-color: #025652;
                padding: 10px;
                text-align: center;
                font-size: 0.625rem;
                text-transform: uppercase;
                width: 120px;
                border-radius: 4rem;
            }
        }
        .welcome-image {
            height: 50%;
            width: 93%;
            margin-right: -70px;
        }
    }
}