.welcome-contact {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    padding: 2rem;
    .left-box,
    .right-box {
        width: 35%;
    }
    .left-box {
        .contact-heading {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #1A2424;
            padding: 0.5rem 0;
        }
        .contact-heading1 {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 43px;
            color: #1A2424;
        }
        .contact-para {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150.69%;
            color: #1A2424;
        }
        .contact-icon {
            display: flex;
            .contact-icon1 {
                font-size: 0.9rem;
            }
            .contact-icon2 {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #000000;
            }
        }
    }
    .right-box {
        form {
            .input-field {
                max-width: 100%;
                margin: 1rem 0;
                .send-btn {
                    color: white;
                    padding: 10px;
                    text-align: center;
                    font-size: 0.625rem;
                    text-transform: uppercase;
                    width: 120px;
                    background: #025652;
                    border-radius: 100px;
                }
            }
            .contacts-box {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .contact-boxes {
                    width: 45%;
                    .contact-input {
                        width: 100%;
                    }
                }
            }
        }
    }
}