.welcome-daycare {
    background: #F9FAFE;
    .daycare-heading {
        text-align: center;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        color: #1A2424;
    }
    .daycare-paragraph {
        display: flex;
        text-align: center;
        justify-content: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150.69%;
        text-align: center;
        color: #1A2424;
    }
    .wrapper-card {
        display: flex;
        align-items: center;
        margin: 40px auto;
        width: 60%;
        .card {
            border-radius: 3px;
            box-shadow: 0 1px 1px transparent;
            flex: 1;
            margin: 8px;
            position: relative;
            text-align: center;
            transition: all 0.5s ease-in-out;
            background: #FFFFFF;
            box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
            border-radius: 10px;
            .card-title {
                color: black;
                font-size: 15px;
                text-transform: uppercase;
                background-color: white;
            }
            .tag-card {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150.69%;
                color: #1A2424;
                text-transform: lowercase;
            }
            .clock-card {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150.69%;
                color: #1A2424;
                text-transform: lowercase;
            }
            .card-description {
                display: flex;
                flex-direction: column;
                background: #F9FAFE;
                text-transform: lowercase;
                .cards-head {
                    text-align: left;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150.69%;
                    color: #1A2424;
                    text-transform: lowercase;
                }
                .card-heading {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 150.69%;
                    text-align: center;
                    color: #1A2424;
                }
            }
            .card-price {
                margin: 60px 0;
                background: white;
            }
            .card-action button {
                background: #025652;
                border: #025652;
                border-radius: 30px;
                color: white;
                cursor: pointer;
                display: block;
                font-size: 15px;
                font-weight: bold;
                padding: 20px;
                width: 100%;
                height: 60px;
                text-transform: uppercase;
            }
        }
        .top-card {
            padding: 0.5rem;
            background: #FFE4E1;
        }
    }
}