footer {
    background-color: black;
}

.footer-head,
hr,
footer p {
    width: 70%;
    margin: auto;
}

.footer-head,
footer p {
    padding: 1rem 0;
}

.footer-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bar {
    display: flex;
}

.footer-list {
    list-style: none;
}

.footer-list li {
    display: inline;
    margin: 0 1rem;
}

.footer-list li a {
    color: white;
}

.media-icon {
    margin-right: 1rem;
}

footer p {
    color: #FFFFFF;
    text-align: right;
}