.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .active .logo {
        margin-left: 10.691rem;
        margin-top: 1.473rem;
    }
    .nav-bar {
        .nav-list {
            display: flex;
            margin-left: 5rem;
            li {
                list-style: none;
                a {
                    height: 0.875rem;
                    font-family: 'rubik';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.25rem;
                    line-height: 0.875;
                    padding-right: 4rem;
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}