.partners-image {
    display: flex;
    justify-content: center;
    background: #E7E7E7;
    .partner-img {
        display: flex;
    }
    .brand-colab-logo {
        display: flex;
        .partners-img1 {
            padding-left: 2rem;
        }
        .partners-img2 {
            padding-left: 2rem;
        }
        .partners-img3 {
            padding-left: 2rem;
        }
        .partners-img4 {
            padding-left: 2rem;
        }
        .partners-img5 {
            padding-left: 2rem;
        }
    }
}