.welcome-services {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .services-heaading {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        padding: 2rem;
    }
    .services-paragraph {
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150.69%;
    }
    .container-cards {
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #1A2424;
        .service-heading {
            font-size: 16px;
            padding: 1rem 6rem;
        }
        .service-heading1 {
            background-color: #FDC282;
            font-size: 1rem;
            border-radius: 1rem;
        }
    }
    .mini-card {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        margin: 2rem 0;
        .images-dog {
            display: flex;
            justify-content: center;
        }
        .service-image {
            display: flex;
            justify-content: center;
        }
        figure figcaption {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #1A2424;
        }
        .duration1 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 13px;
            display: flex;
            align-items: center;
            color: #646868;
        }
        .more-btn {
            color: black;
            background-color: white;
            padding: 10px;
            text-align: center;
            font-size: 0.625rem;
            text-transform: uppercase;
            width: 120px;
            border-radius: 4rem;
        }
    }
    .more about services {
        display: flex;
    }
    .moreabout-btn {
        color: white;
        border: 5px solid #025652;
        background-color: #025652;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        width: 290px;
        border-radius: 40px;
        height: 40px;
    }
}