.welcome-varfor {
    text-align: center;
    background: #F9FAFE;
    padding: 1rem;
    .varfor-heading {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #1A2424;
        padding: 1rem;
    }
    .cards-varfor {
        display: flex;
        justify-content: center;
        align-items: center;
        .varfor-slide {
            width: 18rem;
            padding: 1rem;
            figure figcaption {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: #1A2424;
            }
            .varfor-para {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                text-align: center;
                color: #1A2424;
            }
        }
    }
}