.welcome-page2 {
    display: flex;
    height: 550px;
    background: #E7E7E7;
    .left-container {
        width: 50%;
        height: 100%;
        padding: 1rem;
    }
    .images-roller {
        height: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .front-image {
            border-radius: 1rem;
            z-index: 1;
            position: absolute;
        }
        .back-image {
            margin-left: 25rem;
        }
    }
    .imagesroller-btn {
        display: flex;
        justify-content: center;
    }
    .right-container {
        width: 50%;
        padding: 1rem 0 0 0;
        .main-heading {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 43px;
            color: #1A2424;
        }
        .sub-heading {
            font-family: 'rubik';
            font-size: 24px;
            line-height: 28px;
        }
        .second-paragraph {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            max-width: 600px;
        }
        .second-icon {
            display: flex;
            .icon-img {
                border-radius: 50%;
            }
        }
        .icon-subheading {
            margin-right: 1rem;
        }
        h1.icon-subheading {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
        }
    }
    .readmore-btn {
        margin: 1rem 0;
        .about-btn {
            border: 5px solid #025652;
            border-radius: 40px;
            background-color: #025652;
            color: white;
            padding: 0.5rem 1rem;
            text-align: center;
            display: inline-block;
        }
    }
}