.welcome-where {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.5rem;
    background: #F9FAFE;
    .where-head {
        width: 30%;
        padding: 0 2rem;
        background: white;
        .where-heading {
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 43px;
            color: #1A2424;
            display: flex;
            padding: 1rem;
        }
        .where-paragraph {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150.69%;
            color: #1A2424;
        }
        .where-image {
            display: flex;
            justify-content: space-between;
        }
    }
    .gmap {
        width: 30%
    }
}