input,
textarea {
  width: 100%; }

input {
  height: 3rem; }

textarea {
  height: 5rem; }

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .top-nav .active .logo {
    margin-left: 10.691rem;
    margin-top: 1.473rem; }
  .top-nav .nav-bar .nav-list {
    display: flex;
    margin-left: 5rem; }
    .top-nav .nav-bar .nav-list li {
      list-style: none; }
      .top-nav .nav-bar .nav-list li a {
        height: 0.875rem;
        font-family: 'rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 0.875;
        padding-right: 4rem;
        color: black;
        text-decoration: none; }

.welcome-page {
  display: flex;
  font-family: 'rubik';
  background: #F9FAFE; }
  .welcome-page .welcome-headings {
    width: 50%;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    padding-top: 5rem; }
    .welcome-page .welcome-headings .main-heading {
      margin-left: 10rem;
      font-family: 1rem; }
    .welcome-page .welcome-headings .welcome-paragraph {
      justify-content: center;
      margin-left: 5rem;
      font-size: 1.5rem; }
    .welcome-page .welcome-headings .welcome-icons {
      display: flex;
      text-align: center;
      font-size: 1rem;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #1A2424; }
    .welcome-page .welcome-headings .submit {
      text-align: center;
      padding-top: 1.5rem; }
      .welcome-page .welcome-headings .submit .button1 {
        color: white;
        background-color: #025652;
        padding: 10px;
        text-align: center;
        font-size: 0.625rem;
        text-transform: uppercase;
        width: 120px;
        border-radius: 4rem; }
      .welcome-page .welcome-headings .submit .button2 {
        border-color: #025652;
        padding: 10px;
        text-align: center;
        font-size: 0.625rem;
        text-transform: uppercase;
        width: 120px;
        border-radius: 4rem; }
    .welcome-page .welcome-headings .welcome-image {
      height: 50%;
      width: 93%;
      margin-right: -70px; }

.welcome-page2 {
  display: flex;
  height: 550px;
  background: #E7E7E7; }
  .welcome-page2 .left-container {
    width: 50%;
    height: 100%;
    padding: 1rem; }
  .welcome-page2 .images-roller {
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    .welcome-page2 .images-roller .front-image {
      border-radius: 1rem;
      z-index: 1;
      position: absolute; }
    .welcome-page2 .images-roller .back-image {
      margin-left: 25rem; }
  .welcome-page2 .imagesroller-btn {
    display: flex;
    justify-content: center; }
  .welcome-page2 .right-container {
    width: 50%;
    padding: 1rem 0 0 0; }
    .welcome-page2 .right-container .main-heading {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 43px;
      color: #1A2424; }
    .welcome-page2 .right-container .sub-heading {
      font-family: 'rubik';
      font-size: 24px;
      line-height: 28px; }
    .welcome-page2 .right-container .second-paragraph {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      max-width: 600px; }
    .welcome-page2 .right-container .second-icon {
      display: flex; }
      .welcome-page2 .right-container .second-icon .icon-img {
        border-radius: 50%; }
    .welcome-page2 .right-container .icon-subheading {
      margin-right: 1rem; }
    .welcome-page2 .right-container h1.icon-subheading {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 150%; }
  .welcome-page2 .readmore-btn {
    margin: 1rem 0; }
    .welcome-page2 .readmore-btn .about-btn {
      border: 5px solid #025652;
      border-radius: 40px;
      background-color: #025652;
      color: white;
      padding: 0.5rem 1rem;
      text-align: center;
      display: inline-block; }

.welcome-services {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .welcome-services .services-heaading {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    padding: 2rem; }
  .welcome-services .services-paragraph {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150.69%; }
  .welcome-services .container-cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1A2424; }
    .welcome-services .container-cards .service-heading {
      font-size: 16px;
      padding: 1rem 6rem; }
    .welcome-services .container-cards .service-heading1 {
      background-color: #FDC282;
      font-size: 1rem;
      border-radius: 1rem; }
  .welcome-services .mini-card {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin: 2rem 0; }
    .welcome-services .mini-card .images-dog {
      display: flex;
      justify-content: center; }
    .welcome-services .mini-card .service-image {
      display: flex;
      justify-content: center; }
    .welcome-services .mini-card figure figcaption {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #1A2424; }
    .welcome-services .mini-card .duration1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 13px;
      display: flex;
      align-items: center;
      color: #646868; }
    .welcome-services .mini-card .more-btn {
      color: black;
      background-color: white;
      padding: 10px;
      text-align: center;
      font-size: 0.625rem;
      text-transform: uppercase;
      width: 120px;
      border-radius: 4rem; }
  .welcome-services .more about services {
    display: flex; }
  .welcome-services .moreabout-btn {
    color: white;
    border: 5px solid #025652;
    background-color: #025652;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 290px;
    border-radius: 40px;
    height: 40px; }

.welcome-daycare {
  background: #F9FAFE; }
  .welcome-daycare .daycare-heading {
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #1A2424; }
  .welcome-daycare .daycare-paragraph {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150.69%;
    text-align: center;
    color: #1A2424; }
  .welcome-daycare .wrapper-card {
    display: flex;
    align-items: center;
    margin: 40px auto;
    width: 60%; }
    .welcome-daycare .wrapper-card .card {
      border-radius: 3px;
      box-shadow: 0 1px 1px transparent;
      flex: 1;
      margin: 8px;
      position: relative;
      text-align: center;
      transition: all 0.5s ease-in-out;
      background: #FFFFFF;
      box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
      border-radius: 10px; }
      .welcome-daycare .wrapper-card .card .card-title {
        color: black;
        font-size: 15px;
        text-transform: uppercase;
        background-color: white; }
      .welcome-daycare .wrapper-card .card .tag-card {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150.69%;
        color: #1A2424;
        text-transform: lowercase; }
      .welcome-daycare .wrapper-card .card .clock-card {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150.69%;
        color: #1A2424;
        text-transform: lowercase; }
      .welcome-daycare .wrapper-card .card .card-description {
        display: flex;
        flex-direction: column;
        background: #F9FAFE;
        text-transform: lowercase; }
        .welcome-daycare .wrapper-card .card .card-description .cards-head {
          text-align: left;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150.69%;
          color: #1A2424;
          text-transform: lowercase; }
        .welcome-daycare .wrapper-card .card .card-description .card-heading {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 150.69%;
          text-align: center;
          color: #1A2424; }
      .welcome-daycare .wrapper-card .card .card-price {
        margin: 60px 0;
        background: white; }
      .welcome-daycare .wrapper-card .card .card-action button {
        background: #025652;
        border: #025652;
        border-radius: 30px;
        color: white;
        cursor: pointer;
        display: block;
        font-size: 15px;
        font-weight: bold;
        padding: 20px;
        width: 100%;
        height: 60px;
        text-transform: uppercase; }
    .welcome-daycare .wrapper-card .top-card {
      padding: 0.5rem;
      background: #FFE4E1; }

.welcome-where {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0.5rem;
  background: #F9FAFE; }
  .welcome-where .where-head {
    width: 30%;
    padding: 0 2rem;
    background: white; }
    .welcome-where .where-head .where-heading {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 43px;
      color: #1A2424;
      display: flex;
      padding: 1rem; }
    .welcome-where .where-head .where-paragraph {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150.69%;
      color: #1A2424; }
    .welcome-where .where-head .where-image {
      display: flex;
      justify-content: space-between; }
  .welcome-where .gmap {
    width: 30%; }

.partners-image {
  display: flex;
  justify-content: center;
  background: #E7E7E7; }
  .partners-image .partner-img {
    display: flex; }
  .partners-image .brand-colab-logo {
    display: flex; }
    .partners-image .brand-colab-logo .partners-img1 {
      padding-left: 2rem; }
    .partners-image .brand-colab-logo .partners-img2 {
      padding-left: 2rem; }
    .partners-image .brand-colab-logo .partners-img3 {
      padding-left: 2rem; }
    .partners-image .brand-colab-logo .partners-img4 {
      padding-left: 2rem; }
    .partners-image .brand-colab-logo .partners-img5 {
      padding-left: 2rem; }

.welcome-varfor {
  text-align: center;
  background: #F9FAFE;
  padding: 1rem; }
  .welcome-varfor .varfor-heading {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #1A2424;
    padding: 1rem; }
  .welcome-varfor .cards-varfor {
    display: flex;
    justify-content: center;
    align-items: center; }
    .welcome-varfor .cards-varfor .varfor-slide {
      width: 18rem;
      padding: 1rem; }
      .welcome-varfor .cards-varfor .varfor-slide figure figcaption {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #1A2424; }
      .welcome-varfor .cards-varfor .varfor-slide .varfor-para {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #1A2424; }

.welcome-contact {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
  padding: 2rem; }
  .welcome-contact .left-box,
  .welcome-contact .right-box {
    width: 35%; }
  .welcome-contact .left-box .contact-heading {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #1A2424;
    padding: 0.5rem 0; }
  .welcome-contact .left-box .contact-heading1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #1A2424; }
  .welcome-contact .left-box .contact-para {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150.69%;
    color: #1A2424; }
  .welcome-contact .left-box .contact-icon {
    display: flex; }
    .welcome-contact .left-box .contact-icon .contact-icon1 {
      font-size: 0.9rem; }
    .welcome-contact .left-box .contact-icon .contact-icon2 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #000000; }
  .welcome-contact .right-box form .input-field {
    max-width: 100%;
    margin: 1rem 0; }
    .welcome-contact .right-box form .input-field .send-btn {
      color: white;
      padding: 10px;
      text-align: center;
      font-size: 0.625rem;
      text-transform: uppercase;
      width: 120px;
      background: #025652;
      border-radius: 100px; }
  .welcome-contact .right-box form .contacts-box {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .welcome-contact .right-box form .contacts-box .contact-boxes {
      width: 45%; }
      .welcome-contact .right-box form .contacts-box .contact-boxes .contact-input {
        width: 100%; }

footer {
  background-color: black; }

.footer-head,
hr,
footer p {
  width: 70%;
  margin: auto; }

.footer-head,
footer p {
  padding: 1rem 0; }

.footer-head {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer-bar {
  display: flex; }

.footer-list {
  list-style: none; }

.footer-list li {
  display: inline;
  margin: 0 1rem; }

.footer-list li a {
  color: white; }

.media-icon {
  margin-right: 1rem; }

footer p {
  color: #FFFFFF;
  text-align: right; }

/*# sourceMappingURL=style.css.map */
